<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of departmentData">
            <td>{{row.did}}</td>
            <td>{{row.dname}}</td>
            <td>{{row.demail}}</td>

        </tr>
    </tbody>

</table>

<form [formGroup]="formvalu">
    <div class="mb-3">
        <label  class="form-label">First Name</label>
        <input type="text" class="form-control" formControlName="dname" >                        
    </div>
    
   
</form>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="button" class="btn btn-success" (click)="saveDep()">Save</button>
    <!-- <button type="button" class="btn btn-primary" (click)=" employeeEdit()">Update</button> -->
</div>
