<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Add your stylesheet links or any other head elements here -->
</head>
<body>

<div th:insert="header2.html"></div>

<div class="px-3">
    <table class="table" id="myTable">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Unit</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total Price</th>
        </tr>
        </thead>
        <tbody id="tableBody">
        <tr th:each="product : ${products}">
         <td th:text="${product.id}"> </td>
         <td th:text="${product.name}"> </td>
         <td th:text="${product.brand}"> </td>
         <td th:text="${product.unit}"> </td>
         <td th:text="${product.price}"> </td>
         <td th:text="${product.quantity}"> </td>
         <td th:text="${product.total}"> </td>

        </tr>

        </tbody>
    </table>
</div>

<div th:insert="footer2.html"></div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var quantityInputs = document.querySelectorAll(".quantityInput");

        quantityInputs.forEach(function(input) {
            input.addEventListener("input", function() {
                updateTotal(this);
            });
        });
    });

    function updateTotal(input) {
        var row = input.closest("tr");
        var price = parseFloat(row.querySelector("td:nth-child(5)").innerText);
        var quantity = parseFloat(input.value) || 0; // Use 0 if the input is not a valid number
        var total = price * quantity;

        if (!isNaN(total)) { // Check if total is a valid number
            row.querySelector("td:nth-child(7)").innerText = total.toFixed(2);
        }
    }
</script>


</body>
</html>